[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.6"
djangorestframework = "==3.10"
psycopg2 = "*"
python-decouple = "*"

[dev-packages]
autopep8 = "*"
ipdb = "*"

[requires]
python_version = "3.6"
